.schedule-page {
    padding: 7% 0 5% 0;
}

.schedule-items {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    color: #A7BBCE;
    font-weight: normal;
}

/* unvisited link */
a:link {
    color: rgb(67, 130, 224);
  }
  
  /* visited link */
  a:visited {
    color: rgb(67, 130, 224);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }