.title {
    margin-left: auto;
    margin-right: auto;
}

.title-style1 {
    color: #2B354C;
    background-color: #A7BBCE;
    /* border-radius: 20px; */
    border: solid #2B354C;
    border-width: 6px 0;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.title-style2 {
    color: #A7BBCE;
    background-color: #2B354C;
    /* border-radius: 20px; */
    border: solid #A7BBCE;
    border-width: 6px 0;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}


/* .title-theme {
    color: #2B354C;
    border: solid #2B354C;
    border-color: #2B354C;
    border-width: 6px 0px 6px 0px;
    background-color: #A7BBCE;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: normal;
    opacity: 0.9;
    border-radius: 10px;
}

.title-alternate {
    color: #A7BBCE;
    border: solid #A7BBCE;
    border-color: #A7BBCE rgb(94, 116, 136) rgb(94, 116, 136) #A7BBCE;
    border-width: 6px 3px 3px 6px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
} */

@media screen and (max-width: 500px){
    .title {
        margin-top: 15%;
    }
    .title-theme {
        font-size: 1.5em;
    }

    .title-alternate {
        font-size: 1.5em;
    }
}